extends layout

block content
  div(ng-controller='NavbarController as Navbar', layout='column')
    md-toolbar(layout='row')
      div(class='md-toolbar-tools', layout='row', layout-align='space-between')
        div
          md-button(aria-label='Login', class='md-icon-button', hide-gt-lg, ng-click='Navbar.toggleLeft()')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/menu.svg')
        div(hide-sm, hide-md)
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/baloon.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/cup.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/flag.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/pin.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/camera.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/bike.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/basket.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/frame.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/smile.svg')
          md-button(aria-label='Login', class='md-icon-button')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/tent.svg')
        div
          md-button(aria-label='Login', class='md-icon-button', ng-click="$state.go('login')",
                    ng-if='!Navbar.isAuthenticated()')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/login.svg')
          md-button(aria-label='Login', class='md-icon-button', ng-click="$state.go('logout')",
                    ng-if='Navbar.isAuthenticated()')
            md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/logout.svg')
  md-content(flex='100', style='min-height:100%;')
    div(layout='row', layout-fill, ng-controller='ApplicationController as App')
      md-sidenav(class='md-sidenav-left',
                        md-component-id='left',
                        md-is-locked-open="$mdMedia('gt-lg')")
        md-content(ng-controller='SideNavLeftController as SideNavLeft')
          md-list
            md-list-item(ng-repeat='item in SideNavLeft.menu', aria-label='{{item.name}}', ng-click="$state.go(item.route); SideNavLeft.close()")
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/{{item.icon}}')
              p(ng-bind='item.name')
      md-content(flex, class='md-padding')
        div(ui-view)
      md-sidenav(class='md-sidenav-right',
                        md-component-id='right',
                        md-is-locked-open="$mdMedia('gt-lg')")
        md-content(ng-controller='SideNavLeftController as SideNavLeft')
          md-list
            md-list-item(ng-repeat='item in SideNavLeft.menu', aria-label='{{item.name}}', ng-click="$state.go(item.route); SideNavLeft.close()")
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/{{item.icon}}')
              p(ng-bind='item.name')
  div(layout='column', class='footer')
    md-toolbar(layout='row')
      div(class='md-toolbar-tools',
          layout='row',
          layout-align='space-around center')
        p hey there
        p hey there
        p hey there
        p hey there
        p hey there
        p hey there
        p hey there
        p hey there
