extends layout

block content
  md-content(flex='100', style='min-height:100%;')
    div(ng-controller='NavbarController as Navbar', layout='row')
      div(layout='column', flex='20')
        md-toolbar(class='md-accent md-hue-4')
          .md-toolbar-tools(layout='row', layout-align='center center')
            md-button(aria-label='Login', class='md-icon-button', hide-gt-lg, ng-click='Navbar.toggleLeft()', flex-md='30', flex)
              md-icon(style="fill:white;font:bold;", md-svg-src='images/icons/menu.svg')
            div(layout='column', layout-align='center center', style='margin-top: 5px;', flex='70',hide-sm,hide-md)
              h3(style='font-size:30px;text-align:center;') Кто Где
              p(style='font-size:10px;margin-top:-5px;text-align:center;') Афиша мест и событий
      md-toolbar(md-theme='background', layout='row', flex='60', layout-align='center center')
        span(flex='10')
        div(class='md-toolbar-tools md-padding', layout='row', hide-sm, hide-md, flex='80', layout-align='center center')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/baloon.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/cup.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/flag.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/pin.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/camera.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/bike.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/basket.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/frame.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/smile.svg')
            md-button(aria-label='Login', class='md-icon-button')
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/tent.svg')
        span(flex='10')
      div(layout='column', flex='20')
        md-toolbar(class='md-accent md-hue-4')
          .md-toolbar-tools(layout='row', layout-align='center')
            md-button(aria-label='Login', class='md-icon-button', ng-click="$state.go('login')",
                      ng-if='!Navbar.isAuthenticated()')
              md-icon(style="fill:white;font:bold;", md-svg-src='images/icons/login.svg')
            md-button(aria-label='Login', class='md-icon-button', ng-click="$state.go('logout')",
                      ng-if='Navbar.isAuthenticated()')
              md-icon(style="fill:white;font:bold;", md-svg-src='images/icons/logout.svg')
    div(ng-cloak, layout='row',
        ng-controller='SecondToolbarController as SecondToolbar', style='margin-top:-70px;margin-bottom:-50px;')
      section(layout-sm='column', layout-align-sm='center center',
              layout-md='column', layout-align-md='center center',
              layout='row', layout-align='start center', class='md-padding', flex='20')
        md-input-container(class='md-accent', style='margin-top:10px;', flex='60', flex-md='100', flex-sm='100')
          label Поиск
          input(type='text')
        md-button(class='md-raised md-accent md-hue-9', style='border-radius:0px;', flex='40', flex-md='100', flex-sm='100')
          | Найти
      section(layout-align='center center', style='margin-top:-20px;',
              layout='row', layout-align-gt-md='center center', class='md-padding', flex='60')
        div(layout='row', layout-align='center center', style='margin-bottom:-30px;', flex-sm='70', flex-md='50', flex-lg='30', flex='25')
          md-icon(style="fill:black;font:bold;margin-right:-15px;", md-svg-src='images/icons/pin.svg', flex='30')
          md-input-container(class='md-accent', flex='70')
            label(ng-bind='location')
            md-select(ng-model='location', aria-label='Location')
              md-option(ng-repeat='city in cities', value='{{city}}') {{city}}
      section(layout='column', layout-align='center center',class='md-padding', flex='20',style='margin-top:49px;')
        md-input-container(class='md-accent', style='margin-top:10px;', flex, layout-fill)
          label Введите ваш email
          input(type='text')
        md-button(class='md-raised md-accent md-hue-9', style='border-radius:0px;font-size:14px;', flex)
            | Подписаться
    div(layout='row', layout-align='center', ng-controller='HeadMenuController as HeadMenu', style='margin-top:10px;')
      div(layout-sm='column', layout-sm-align='center center', layout='row', layout-align='space-around', class='md-padding md-margin')
        span(flex-gt-sm='35')
        md-button(aria-label='events', class='md-fab md-raised md-accent', style='min-width:100px;min-height:100px;',
                  ng-click="$state.go('events')")
          md-icon(md-svg-src='images/icons/fireworks.svg', style='min-width:70px;min-height:80px;margin-top:3px;')
        span(flex-gt-sm='10')
        md-button(aria-label='meetings', class='md-fab md-raised md-accent', style='min-width:100px;min-height:100px;',
                  ng-click="$state.go('meetings')")
          md-icon(md-svg-src='images/icons/events.svg', style='min-width:80px;min-height:70px;margin-top:10px;')
        span(flex-gt-sm='10')
        md-button(aria-label='places', class='md-fab md-raised md-accent', style='min-width:100px;min-height:100px;',
                  ng-click="$state.go('places')")
          md-icon(md-svg-src='images/icons/places.svg', style='min-width:80px;min-height:70px;margin-top:-5px;')
        span(flex-gt-sm='10')
        md-button(aria-label='jobs', class='md-fab md-raised md-accent', style='min-width:100px;min-height:100px;',
                  ng-click="$state.go('jobs')")
          md-icon(md-svg-src='images/icons/jobs.svg', style='min-width:70px;min-height:80px;fill:white;font:bold;')
        span(flex-gt-sm='35')
    div(layout='row', layout-fill, ng-controller='ApplicationController as App')
      md-sidenav(class='md-sidenav-left',
                        md-component-id='left',
                        md-is-locked-open="$mdMedia('gt-lg')", style='margin-right:-10px;')
        md-content(ng-controller='SideNavLeftController as SideNavLeft')
          md-list
            md-list-item(ng-repeat='item in SideNavLeft.menu', aria-label='{{item.name}}', ng-click="$state.go(item.route); SideNavLeft.close()")
              md-icon(style="fill:black;font:bold;", md-svg-src='images/icons/{{item.icon}}')
              p(ng-bind='item.name')
      md-content(flex, class='md-padding')
        div(ui-view, layout-wrap)
      md-sidenav(class='md-sidenav-right',
                        md-component-id='right',
                        md-is-locked-open="$mdMedia('gt-lg')", ng-cloak)
        md-content(ng-controller='SideNavRightController as SideNavRight')
          section(layout='column', ng-if='$state.is("meetings")')
            md-button(style='border-radius:0px;margin-top:17px;', class='md-raised md-accent md-hue-5 md-margin', flex,
                      ng-click='SideNavRight.show_categories($event)')
              | Добавить Интересы
            md-button(style='border-radius:0px;margin-top:17px;', class='md-raised md-accent md-hue-5 md-margin', flex)
              | Использовать Мои Интересы
    div(layout='column', style='padding-top:600px;', ng-cloak)
      md-toolbar(layout='row')
        div(class='md-toolbar-tools',
            layout='row',
            layout-align='space-around center')
          p hey there
          p hey there
          p hey there
          p hey there
          p hey there
          p hey there
          p hey there
          p hey there
