md-content(class='md-padding')
  section(layout='row', layout-align='center center', class='md-padding')
    md-datepicker(class='datefilter', ng-model='date_filter', palceholder='Выбрать дату', style='background-color:white;')
    section(layout='row', class='md-margin', style='margin-bottom:-5px;')
      md-icon(style="fill:#FF7043;font:bold;margin-left:10px;margin-bottom:13px;", md-svg-src='images/icons/moscow.svg')
      a(href='', target='_blank', style='margin-left:7px;margin-bottom:0px;', ng-click='Meetings.fetch_nearby_meetings()', class='alink')
        p Выбрать метро
    section(layout='row', class='md-margin', style='margin-bottom:-5px;')
      md-icon(style="fill:#FF7043;font:bold;margin-left:10px;margin-bottom:13px;", md-svg-src='images/icons/pin.svg')
      a(href='', target='_blank', style='margin-left:7px;margin-bottom:0px;', ng-click='Meetings.fetch_nearby_meetings()', class='alink')
        p Рядом со мной
  section(layout='row', layout-align='center center')
    
md-content(class='md-whiteframe-z1 md-padding')
  section(layout-wrap, layout='row')
    md-button(class='md-raised md-accent md-hue-9',
              ng-bind='Meetings.show ? "Скрыть Карту" : "Показать Карту"',
              ng-click='Meetings.toggle_map()', flex,
              style='margin:-15px -20px 0px -20px;z-index:1;',
              aria-label='show/hide map')
  section(ng-show='Meetings.show')
    div(id='map', layout-wrap, style='min-height:300px;', flex)
  section(layout='row', layout-align='end', style='')
    //- md-button(class='md-raised md-accent md-hue-9',
    //-           style='z-index:2;margin-bottom:-120px;margin-top:15px;border-radius:0px;height:20px;',
    //-           ng-click='Meetings.fetch_nearby_meetings()')
    //-   | Рядом
    md-button(class='md-raised md-accent md-hue-9',
              style='z-index:2;margin-bottom:-120px;margin-top:15px;border-radius:0px;height:20px;',
              ng-click='$state.go("new_meeting")')
      | Cоздать Встречу
  section(style='margin-top:60px;')
    article(layout-sm='column',
            layout-md='column',
            layout='row', class='md-margin md-whiteframe-z1', style='background-color:#F5F5F5;'
            ng-repeat='meeting in Meetings.meetings | orderBy : "+date"')
      div(layout='column', flex='35', style='background-color:#F5F5F5;', flex-sm='100', flex-md='100')
        md-card(layout='column', class='', style='background-color:#F5F5F5;')
          img(ng-src='{{Meetings.owners[meeting.owner].picture || "http://placehold.it/300x200"}}', class='md-card-image', flex='40')
          div(class='md-actions', layout='column', flex='20')
            md-button(ng-click='Meetings.add_friend(meeting.owner)',
                      style='text-align:left;font-size:12px;', flex='100') Добавить В Друзья
          md-divider
          div(class='md-actions', layout='column', flex='20')
            md-button(ng-click='Meetings.add_friend(meeting.owner)',
                      style='text-align:left;font-size:12px;', flex='100') Написать Сообщение
          md-divider
          div(class='md-actions', layout='column', flex='20')
            md-button(ng-click='true',
                      style='text-align:left;font-size:12px;', flex='100') Друзья
      div(layout='column', layout-align='space-between',flex='65', flex-sm='100', flex-md='100')
        div(layout='row', flex='10')
          div(layout='column', flex)
            div(layout='row', layout-align='end')
              img(ng-src='{{"images/category_icons/" + key + ".png"}}',
                  ng-repeat='(key, val) in meeting.categories',
                  style='height:25px;width:25px;margin:5px 5px 5px 0px;')
        div(layout='row', flex, style='margin-top:-20px;')
          div(layout='column', layout-align='space-around start', flex, class='md-padding')
            h3(style='font-size:18px;margin-top:-5px;',
               ng-bind='Meetings.owners[meeting.owner].displayName', flex)
            h4(style='font-size:14px;margin:0px;', flex) {{ (meeting.time) + ' ' + (meeting.date | date: 'MM/dd/yyyy')}}
            p(style='font-size:14px;margin:-0px;', ng-if='meeting.eventname', flex) {{"Событие: " + meeting.eventname}}
            p(style='font-size:12px;margin:0px;',
              ng-if='meeting.location', ng-bind='"Место Встречи: " + Meetings.addresses[meeting.location]', flex) 
            p(ng-bind='meeting.description', flex, style='margin:0px;')
        div(layout='row', flex)
          div(layout='column', flex, layout-align='end')
              md-button(md-theme='background', class='md-raised', style='border-radius:0px;font-size:11px;') Встречи {{Meetings.owners[meeting.owner].displayName}}
              md-button(md-theme='background', class='md-raised', style='border-radius:0px;font-size:11px;') Предложить Другу
          div(layout='column', flex, layout-align='end')
              md-button(md-theme='background', class='md-raised', style='border-radius:0px;font-size:11px;', ng-click='Meetings.show_onmap(meeting.location, Meetings.addresses[meeting.location])') На Карте
              md-button(md-theme='background', class='md-raised', style='border-radius:0px;font-size:11px;') Откликнуться
